<header class="clearfix">
	<a id="logo" href="/">matthubing.com</a>
	<nav>
		<%= link_to 'work', '/work.html' %>
		<%= link_to 'articles', '/articles.html' %>
		<%= link_to 'r&eacute;sum&eacute;', '/resume.html' %>
		<%= link_to 'about', '/about.html' %>
		<%= link_to 'gaming', '/gaming.html' %>
		<%= link_to 'luna', '/lunabear.html' %>
		<%= link_to 'contact', '/contact.html' %>
	</nav>
</header>